<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>获取企业号应用</title>
		#ICON()
        #CSSM(["weui"])
		#UA()
	</head>
	<body>
		<article class="weui_article">
            <h1>获取企业号应用</h1>
            <section>
                <h2 class="title"></h2>
                <section>
                    <h3></h3>
                    <p>$!{agent}</p>
                </section>
            </section>
        </article>
    </body>
</html>