<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>管理通讯录</title>
		#ICON()
        #CSSM(["weui"])
		#UA()
	</head>
	<body>
		<div class="weui_cells_title">管理通讯录</div>
        <div class="weui_cells weui_cells_access">
            <a class="weui_cell" href="javascript:goto('department');" >
                <span class="weui_cell_hd"><img src="" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>管理部门</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <a class="weui_cell" href="javascript:goto('user');" >
                <span class="weui_cell_hd"><img src="" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>管理成员</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <a class="weui_cell" href="javascript:goto('tag');" >
                <span class="weui_cell_hd"><img src="" class="icon_nav" alt=""></span>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>管理标签</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
        </div>
		
		#JS_ENV_VAL()
		<script type="text/javascript">
		function goto(op) {
			if(op == 'department') {
				top.location.href = appUrl + "/weixin/department.htm";
			} else if(op == 'user') {
				top.location.href = appUrl + "/weixin/user.htm";
			} else if(op == 'tag') {
				top.location.href = appUrl + "/weixin/tag.htm";
			}
		}
		</script>
    </body>
</html>