<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>获取部门列表</title>
		#ICON()
        #CSSM(["weui"])
		#UA()
	</head>
	<body>
        <div class="weui_cells_title">获取部门列表</div>
        <div class="weui_cells weui_cells_access">
			#foreach($department in $!{departmentList})
            <a class="weui_cell" href="javascript:goto('detail', '$!{department.id}', '$!{department.name}');" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p>$!{department.id} | $!{department.parentId} | $!{department.name} | $!{department.order}</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            #end
        </div>
		
		#JS_ENV_VAL()
		<script type="text/javascript">
		function goto(op, id, name) {
			top.location.href = appUrl + "/weixin/department.htm?op=" + op + "&id=" + id + "&name=" + encodeURIComponent(name);
		}
		</script>
    </body>
</html>