<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>发送消息</title>
		#ICON()
        #CSSM(["weui"])
		#UA()
	</head>
	<body>
		<div class="weui_cells_title">发送image消息</div>
		<div class="weui_cells weui_cells_form">
			<form method="POST">
    			<div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">用户</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="text" name="toUser" value="Jiakun.Xu" placeholder="请输入发送用户"/>
                    </div>
                </div>
    			<div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">部门</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="text" name="toParty" placeholder="请输入发送部门"/>
                    </div>
                </div>
    			<div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">标签</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="text" name="toTag" placeholder="请输入发送标签"/>
                    </div>
                </div>
    			<div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">应用</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
						<select class="weui_input" name="agentId">
							#foreach($agent in $!{agentList})
							<option value="$!{agent.agentId}">$!{agent.name}</option>
							#end
                        </select>
                    </div>
                </div>
    			<div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">内容</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="text" id="mediaId" name="image.mediaId" placeholder="请输入消息内容"/>
                    </div>
                </div>
    			<div class="weui_cell weui_cell_switch">
                    <div class="weui_cell_hd weui_cell_primary">是否保密</div>
                    <div class="weui_cell_ft">
                        <input class="weui_switch" type="checkbox" name="safe" value="1"/>
                    </div>
                </div>
            </form>
        </div>
		<div class="weui_btn_area">
            <a class="weui_btn weui_btn_primary" href="javascript:send();" id="showTooltips">发送</a>
        </div>
		
        <div id="actionSheet_wrap">
            <div class="weui_mask_transition" id="mask"></div>
            <div class="weui_actionsheet" id="weui_actionsheet">
                <div class="weui_actionsheet_menu">
                    <div class="weui_actionsheet_cell" id="chooseImage">本地选图或拍照</div>
                </div>
                <div class="weui_actionsheet_action">
                    <div class="weui_actionsheet_cell" id="actionsheet_cancel">取消</div>
                </div>
            </div>
        </div>
		<div class="weui_btn_area">
            <a class="weui_btn weui_btn_default" href="javascript:showActionSheet();" >添加文件</a>
        </div>
		
		#parse("/club/framework/common/loadingToast.vm")
		#parse("/club/framework/common/toast.vm")

		<iframe id="hideFrame" name="hideFrame" style="display:none"></iframe>
		#JSM(["zeptojs", "weixin"])
		#JS_ENV_VAL()
		<script>
        wx.config({
            debug: false,
            appId: '$!{ticket.appId}',
            timestamp: '$!{ticket.timestamp}',
            nonceStr: '$!{ticket.nonceStr}',
            signature: '$!{ticket.signature}',
            jsApiList: ['chooseImage', 'uploadImage']
        });
        </script>
		<script type="text/javascript" src="$!{env.imgUrl}/js/weixin/message.image.js?t=20160116"></script>
    </body>
</html>