<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>获取标签列表</title>
		#ICON()
        #CSSM(["weui"])
		#UA()
	</head>
	<body>
        <div class="weui_cells_title">获取标签列表</div>
        <div class="weui_cells weui_cells_access">
			#foreach($tag in $!{tagList})
            <a class="weui_cell" href="javascript:goto('detail', '$!{tag.tagId}', '$!{tag.tagName}');" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p>$!{tag.tagId} | $!{tag.tagName}</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            #end
        </div>
		
		#JS_ENV_VAL()
		<script type="text/javascript">
		function goto(op, tagId, tagName) {
			top.location.href = appUrl + "/weixin/tag.htm?op=" + op + "&tagId=" + tagId + "&tagName=" + encodeURIComponent(tagName);
		}
		</script>
    </body>
</html>