<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>upload</title>
		#ICON()
        #CSSM(["bootstrap"])
		#UA()
	</head>
	<body>
		<div class="container">
			<div class="col-md-4 col-md-offset-4">
				<div class="modal-body">
      				<form class="form-horizontal" role="form" action="$!{actionName}" method="post" enctype="multipart/form-data">
    					<div class="form-group">
            				<label>File</label>
            				<input type="file" name="media" />
            			 </div>
						<div class="form-group text-center">
    						<a class="btn btn-default btn-block" id="btn" data-loading-text="正在提交..." href="javascript:submit();">Upload</a>
                        </div>
          			</form>
                </div>
      		</div>
        </div>
		
		<script type="text/javascript">
		function submit() {
        	window.document.forms[0].submit();
        }
		</script>
    </body>
</html>