<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>获取部门成员(详情)</title>
		#ICON()
        #CSSM(["weui"])
		#UA()
	</head>
	<body>
        <div class="weui_cells_title">获取部门成员(详情)</div>
        <div class="weui_cells weui_cells_access">
			#foreach($user in $!{userList})
			<a class="weui_cell" href="javascript:goto('detail', '$!{user.userId}', '$!{user.name}');" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p>$!{user.userId} | $!{user.name} | $!{user.status}</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            #end
        </div>
		
		#JS_ENV_VAL()
		<script type="text/javascript">
		function goto(op, userId, name) {
			top.location.href = appUrl + "/weixin/user.htm?op=" + op + "&userId=" + userId + "&name=" + encodeURIComponent(name);
		}
		</script>
    </body>
</html>