<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"></div>
		<div class="center sliding">购物车</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="cart.index" class="page">
		<!-- Scrollable page content-->
		<div class="page-content" style="padding-bottom: 100px;">
			<div class="list-block" style="font-size: 13px;">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">店铺：好社惠</div>
								<div class="item-after"><a href="#">编辑</a></div>
							</div>
						</div>
					</li>
					<li>
						<label class="label-checkbox item-content">
                            <input type="checkbox" name="my-checkbox" checked="checked"></input>
							<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
							<div class="item-inner">
								<img src="$!{env.imgUrl}/image/item/detail-3.jpg" style="width: 60px;"></img>
								<div class="item-title">特仑苏纯牛奶利乐苗条装<br/>250ml×8盒×3提 共24盒</div>
								<div class="item-after">￥79.9</div>
							</div>
                        </label>
					</li>
				</ul>
			</div>
			
			<div class="bottom-fix" style="padding:0; margin-bottom: 50px;">
        		<div class="bottom-cart">
					<div class="select-all checked">
						<label class="label-checkbox">
                            <input type="checkbox" name="my-checkbox" checked="checked"></input>
							<div class="item-media"><i class="icon icon-form-checkbox" style="margin: -5px 5px 0 0;"></i>全选</div>
                        </label>
					</div>
        			<div class="total-price">合计：<span class="js-total-price">79.90</span>元</div>
        			<a href="$!{env.appUrl}/trade/create.htm?type=" class="btn btn-orange-dark" data-ignore-cache="true">结算(1)</a>
        		</div>
        	</div>
        </div>
    </div>
</div>