<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"></div>
		<div class="center sliding">团一团</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="item.list" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block cards-list">
				<ul>
					<li class="card demo-card-header-pic">
						<div style="background-image:url($!{env.imgUrl}/image/item/index-1.jpg)" valign="bottom" class="card-header color-white no-border"></div>
						<div class="card-content">
							<div class="card-content-inner">
								<p class="color-gray">特仑苏纯牛奶利乐苗条装250ml×8盒×3提 共24盒</p>
								<p>特仑苏纯牛奶来自黄金奶源纬度带，特仑苏专属牧场，海拔、纬度、阳光、水土，精选多国优质牧草品种，汇集各国良种乳牛，造就出天然优质乳蛋白，每100毫升牛奶中蛋白质含量>3.3克，比国家标准高出13.8%，比欧盟标准高出10%。牛奶中的新贵族。</p>
							</div>
						</div>
						<div class="card-footer">
							<a href="$!{env.appUrl}/item/detail.htm?itemId=" class="">
								<div class="tuan_g_core">
									<div class="tuan_g_price">
										<span>3人团</span>
										<b>79.90</b>
									</div>
									<div class="tuan_g_btn">去开团</div>
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="list-block cards-list">
				<ul>
					<li class="card demo-card-header-pic">
						<div style="background-image:url($!{env.imgUrl}/image/item/index-2.jpg)" valign="bottom" class="card-header color-white no-border"></div>
						<div class="card-content">
							<div class="card-content-inner">
								<p class="color-gray">特仑苏谷粒调制牛奶250ml×12盒×2提</p>
								<p>特仑苏纯牛奶来自黄金奶源纬度带，特仑苏专属牧场，海拔、纬度、阳光、水土，精选多国优质牧草品种，汇集各国良种乳牛，造就出天然优质乳蛋白。牛奶中的新贵族。</p>
							</div>
						</div>
						<div class="card-footer">
							<a href="$!{env.appUrl}/item/detail.htm?itemId=" class="">
								<div class="tuan_g_core">
									<div class="tuan_g_price">
										<span>3人团</span>
										<b>79.90</b>
									</div>
									<div class="tuan_g_btn">去开团</div>
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
        </div>
    </div>
</div>