<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"></div>
		<div class="center sliding" style="font-weight: 400; color: #ff5500;">社区生活</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="facebook.index" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="card facebook-card">
				<div class="card-header">
                    <div class="facebook-avatar"><img src="$!{env.imgUrl}/image/facebook/1.jpeg" width="34" height="34"></img></div>
					<div class="facebook-name">张三</div>
					<div class="facebook-date">Monday at 2:15 PM</div>
				</div>
				<div class="card-content">
					<div class="card-content-inner">
						<p>好社惠亭子到社区咯!</p>
                        <img src="$!{env.imgUrl}/image/ad/LCF_2479.jpg" width="100%"></img>
						<p class="color-gray">赞: 112    评论: 43</p>
					</div>
				</div>
				<div class="card-footer">
					<a href="#" class="link">赞</a>
					<a href="#" class="link">评论</a>
					<a href="#" class="link">分享</a>
				</div>
			</div> 
        </div>
    </div>
</div>