<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"></div>
		<div class="center sliding">会员中心</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="member.index" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block" style="font-size: 15px;">
				<ul class="page-settings">
					<li class="row" style="text-align: center;">
						<a href="$!{env.appUrl}/trade/list.htm?type=topay" class="col-25 item-link" style="width: 25%;" data-ignore-cache="true">
							<h3 id="member/index/topay">0</h3>
							<div class="color-gray">待付款</div>
                        </a>
						<a href="$!{env.appUrl}/trade/list.htm?type=tosend" class="col-25 item-link" style="width: 25%;" data-ignore-cache="true">
							<h3 id="member/index/tosend">0</h3>
							<div class="color-gray">待发货</div>
                        </a>
						<a href="$!{env.appUrl}/trade/list.htm?type=send" class="col-25 item-link" style="width: 25%;" data-ignore-cache="true">
							<h3 id="member/index/send">0</h3>
							<div class="color-gray">已发货</div>
                        </a>
						<a href="$!{env.appUrl}/trade/list.htm?type=sign" class="col-25 item-link" style="width: 25%;" data-ignore-cache="true">
							<h3 id="member/index/sign">0</h3>
							<div class="color-gray">已完成</div>
                        </a>
					</li>
                </ul>
				<ul>
					<li>
						<a href="$!{env.appUrl}/trade/list.htm" class="item-link item-content" data-ignore-cache="true">
							<div class="item-media"><i class="iconfont icon-text"></i></div>
							<div class="item-inner">
								<div class="item-title">全部订单</div>
							</div>
						</a>
					</li>
				</ul>
            </div>
			<div class="list-block" style="font-size: 15px;">
				<ul>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="iconfont icon-time"></i></div>
							<div class="item-inner">
								<div class="item-title">我的购物记录</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="iconfont icon-refund"></i></div>
							<div class="item-inner">
								<div class="item-title">我的返现</div>
							</div>
						</a>
					</li>
				</ul>
            </div>
			<div class="list-block" style="font-size: 15px;">
				<ul>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="iconfont icon-present"></i></div>
							<div class="item-inner">
								<div class="item-title">我收到的礼物</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="iconfont icon-ticket"></i></div>
							<div class="item-inner">
								<div class="item-title">我的优惠券</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="iconfont icon-vipcard"></i></div>
							<div class="item-inner">
								<div class="item-title">我的优惠码</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="iconfont icon-goods"></i></div>
							<div class="item-inner">
								<div class="item-title">我的赠品</div>
							</div>
						</a>
					</li>
				</ul>
            </div>
        </div>
    </div>
</div>