<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">订单详情</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="trade.detail" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block" style="font-size: 15px;">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="iconfont icon-location" style="font-size: 20px;"></i></div>
							<div class="item-inner" style="font-size: 14px;">
								<div class="item-title">
									收货人：$!{trade.receiverName}<span style="float: right;">$!{trade.receiverTel}</span><br />
									收货地址：$!{trade.receiverProvince}$!{trade.receiverCity}$!{trade.receiverArea}$!{trade.receiverAddress}
								</div>
							</div>
						</div>
					</li>
					#if($!{trade.type} == 'send' || $!{trade.type} == 'sign')
					<li>
						<a href="#" class="item-link item-content" data-ignore-cache="true">
							<div class="item-inner">
								<div class="item-title">含有$!{trade.orderList.size()}个物流包裹</div>
                                <div class="item-after">查看详细信息</div>
							</div>
						</a>
					</li>
					#end
				</ul>
            </div>
			<div class="list-block media-list" style="font-size: 15px;">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner" style="display: inherit;">
								<div class="item-title" style="font-weight: 400;">店铺：好社惠</div>
							</div>
						</div>
					</li>
					#foreach($order in $!{trade.orderList})
					<li>
						<div class="item-content">
							<div class="item-media" style="padding-top: 7px; padding-bottom: 8px;">
								<img src="$!{env.imgUrl}/image/item/detail-3.jpg" style="width: 50px;"></img>
							</div>
							<div class="item-inner">
								<div class="item-title-row" style="margin-top: 3px;">
									<div class="item-title" style="font-weight: 400;">$!{order.itemName}</div>
									<div class="item-after">￥$!formatUtil.getAmountFormat($!{order.price})</div>
								</div>
								<div class="item-title-row" style="margin-top: 3px;">
									<div class="item-subtitle" style="font-size: 13px; color: #8e8e93;">$!{order.propertiesName}</div>
									<div class="item-after">×$!{order.quantity}</div>
								</div>
								#if($!{trade.type} == 'tosend' || $!{trade.type} == 'send')
								<div class="item-title-row" style="margin-top: 3px;">
									<div class="item-title"></div>
									<div class="item-after">
										<a href="$!{env.appUrl}/trade/refund.htm?tradeNo=$!{trade.tradeNo}&orderId=$!{order.orderId}" class="button color-red" data-ignore-cache="true">申请退款</a>
									</div>
								</div>
								#end
							</div>
						</div>
					</li>
					#end
					<li>
						<div class="item-content">
							<div class="item-inner" style="display: inherit;">
								<div class="item-title" style="font-weight: 400;">运费</div>
								<div class="item-after">￥$!formatUtil.getAmountFormat($!{trade.postage})</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner" style="display: inherit;">
								<div class="item-title" style="font-weight: 400; font-size: 13px;">
									买家留言：#if($!stringUtil.isNotEmpty($!{trade.receiverRemark})) $!{trade.receiverRemark} #else 无 #end
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner" style="display: inherit;">
								<div class="item-title" style="font-weight: 400;">合计</div>
								<div class="item-after" style="color: #ff5500;">￥$!formatUtil.getAmountFormat($!{trade.price})</div>
							</div>
						</div>
					</li>
				</ul>
            </div>
			<div class="list-block media-list" style="font-size: 15px;">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title" style="font-weight: 400; width: 100%; text-align: center;">
                                    <div>￥$!formatUtil.getAmountFormat($!{trade.tradePrice}) + ￥$!formatUtil.getAmountFormat($!{trade.postage}) 运费</div>
									<div style="font-size: 16px; color: #ff5500;">
										#if($!{trade.type} == 'check' || $!{trade.type} == 'topay' || $!{trade.type} == 'cancel')
										应付：￥$!formatUtil.getAmountFormat($!{trade.price})
										#else
										实付：￥$!formatUtil.getAmountFormat($!{trade.price})
										#end
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title-row" style="margin-top: 3px;">
									<div class="item-title" style="font-weight: 400;">订单号：$!{tradeNo}</div>
                                </div>
								<div class="item-title-row" style="margin-top: 3px;">
									<div class="item-subtitle" style="font-size: 14px; color: #8e8e93;">$!{trade.payDate}</div>
                                </div>
								<div class="item-title-row" style="margin-top: 3px;">
									<div class="item-subtitle" style="font-size: 14px; color: #8e8e93;">完成付款</div>
                                </div>
							</div>
						</div>
					</li>
				</ul>
            </div>
        </div>
    </div>
</div>