<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title></title>
		#ICON()
		#CSSM(["framework7", "iconfont"])
		<link rel="stylesheet" href="$!{env.imgUrl}/css/portal/homepage.css" />
		#UA()
	</head>
	<body>
		<!-- Views -->
		<div class="views tabs toolbar-through">
			<!-- Your main view, should have "view-main" class -->
			<div id="view-1" class="view view-main tab active" data-page="index-1">
				<!-- Top Navbar-->
				<div class="navbar">
					<div class="navbar-inner">
						<!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
						<div class="center sliding">好社惠－你身边的微小店</div>
					</div>
				</div>
				<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
				<div class="pages navbar-through toolbar-through">
					<!-- Page, "data-page" contains page name -->
					<div data-page="index-1" class="page">
						<!-- Scrollable page content -->
						<div class="page-content">
							 <!-- Slider -->
							<div class="swiper-container swiper-init" data-pagination=".swiper-pagination-h">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
                                        <img src="$!{env.imgUrl}/image/portal/1.jpg" width="100%"></img>
									</div>
									<div class="swiper-slide">
										<img src="$!{env.imgUrl}/image/portal/2.jpg" width="100%"></img>
									</div>
									<div class="swiper-slide">
                                        <img src="$!{env.imgUrl}/image/portal/3.jpg" width="100%"></img>
									</div>
								</div>
								<div class="swiper-pagination swiper-pagination-h"></div>
							</div>
							
							<div class="" style="background-color:#ffffff;">
								<ul class="mui-flex" style="padding: 0;">
									<li class="cell" style="">
										<a class="component type3" href="" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/cell-01.jpg" width="36" height="36"></img>
											积分刮券
										</a>
									</li>
									<li class="cell" style="">
										<a class="component type3" href="" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/cell-02.jpg" width="36" height="36"></img>
											充值
										</a>
									</li>
									<li class="cell" style="">
                                        <a class="component type3" href="" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/cell-03.jpg" width="36" height="36"></img>
                                            天猫国际
                                        </a>
									</li>
									<li class="cell" style="">
                                        <a class="component type3" href="" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/cell-04.jpg" width="36" height="36"></img>
                                            聚划算
                                        </a>
									</li>
									<li class="cell" style="">
                                        <a class="component type3" href="" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/cell-05.jpg" width="36" height="36"></img>
                                            天猫超市
                                        </a>
									</li>
								</ul>
								<ul class="mui-flex" style="padding: 0;">
                                    <li class="cell" style="">
                                        <a class="component type3" href="" style="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/cell-06.jpg" width="36" height="36"></img>
                                            免费试用
                                        </a>
                                    </li>
                                    <li class="cell" style="">
                                        <a class="component type3" href="" style="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/cell-07.jpg" width="36" height="36"></img>
                                            新人有礼
                                        </a>
                                    </li>
                                    <li class="cell" style="">
                                        <a class="component type3" href="" style="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/cell-08.jpg" width="36" height="36"></img>
                                            粉丝趴
                                        </a>
                                    </li>
                                    <li class="cell" style="">
                                        <a class="component type3" href="" style="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/cell-09.jpg" width="36" height="36"></img>
                                            领钱了
                                        </a>
                                    </li>
                                    <li class="cell" style="">
                                        <a class="component type3" href="" style="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/cell-10.jpg" width="36" height="36"></img>
                                            分类
                                        </a>
                                    </li>
								</ul>
							</div>
                        </div>
                    </div>
                </div>
            </div>
			
			<div id="view-2" class="view tab">
				<div class="navbar"></div>
				<div class="pages navbar-through toolbar-through">
                    <div class="page"></div>
				</div>
            </div>
			
			<div id="view-3" class="view tab">
				<div class="navbar"></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div id="view-4" class="view tab">
				<div class="navbar"></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div id="view-5" class="view tab">
				<div class="navbar"></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div class="toolbar tabbar">
				<div class="toolbar-inner">
					<a id="href-1" href="#view-1" class="tab-link active">
						<i class="icon iconfont icon-home" style="font-size: 25px;"></i>
                    </a>
                    <a id="href-2" href="#view-2" class="tab-link">
                        <i class="icon iconfont icon-goods" style="font-size: 25px;"></i>
                    </a>
					<a id="href-3" href="#view-3" class="tab-link">
                        <i class="icon iconfont icon-group" style="font-size: 25px;">
							<span class="badge bg-red">1</span>
						</i>
                    </a>
					<a id="href-4" href="#view-4" class="tab-link">
                        <i class="icon iconfont icon-cart" style="font-size: 25px;"></i>
                    </a>
					<a id="href-5" href="#view-5" class="tab-link">
                        <i class="icon iconfont icon-my" style="font-size: 25px;"></i>
                    </a>
                </div>
            </div>
        </div>
		
		#JSM(["framework7"])
		#JS_ENV_VAL()
		<script src="$!{env.imgUrl}/js/portal/homepage.js?t=20160304"></script>		
	</body>
</html>  