<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title></title>
		#ICON()
		#CSSM(["framework7"])
		<style>
		.icon_nav { width:28px; height:28px; display:block; }
		.infinite-scroll-preloader { margin-top:-20px; margin-bottom: 10px; text-align: center; }
        </style>
		#UA()
	</head>
	<body>
		<!-- Status bar overlay for full screen mode (PhoneGap) -->
		<div class="statusbar-overlay"></div>
		<!-- Panels overlay-->
		<div class="panel-overlay"></div>
		<!-- Left panel with reveal effect-->
		<div class="panel panel-left panel-reveal">
			<div class="content-block">
				<p>Left panel content goes here</p>
				<p><a href="#" class="panel-close">Close me</a></p>
			</div>
		</div>
		
		<!-- Views -->
		<div class="views">
			<!-- Your main view, should have "view-main" class -->
			<div class="view view-main">
				<!-- Top Navbar-->
				<div class="navbar">
					<div class="navbar-inner">
						<!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
						<div class="center sliding">WeChat</div>
						<div class="right">
							<!-- 
							  Right link contains only icon - additional "icon-only" class
							  Additional "open-panel" class tells app to open panel when we click on this link
							-->
							<a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
						</div>
					</div>
				</div>
				<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
				<div class="pages navbar-through toolbar-through">
					<!-- Page, "data-page" contains page name -->
					<div data-page="index" class="page">
						<!-- Scrollable page content -->
						<div class="page-content">
							<div class="content-block-title">微信企业号接口</div>
							<div class="list-block">
								<ul>
									<li>
										<a href="$!{env.appUrl}/weixin/index.framework7.htm?title=contacts" class="item-link item-content">
    										<div class="item-media"><img src="$!{env.imgUrl}/image/weixin/icon_nav_article.png" class="icon_nav" alt=""></div>
    										<div class="item-inner">
    											<div class="item-title">管理通讯录</div>
    											<div class="item-after"></div>
    										</div>
                                        </a>
									</li>
									<li>
										<a href="$!{env.appUrl}/weixin/index.framework7.htm?title=media" class="item-link item-content">
    										<div class="item-media"><img src="$!{env.imgUrl}/image/weixin/icon_nav_cell.png" class="icon_nav" alt=""></div>
    										<div class="item-inner">
    											<div class="item-title">管理素材文件</div>
    											<div class="item-after"></div>
    										</div>
                                        </a>
									</li>
									<li>
										<a href="$!{env.appUrl}/weixin/index.framework7.htm?title=agent" class="item-link item-content">
    										<div class="item-media"><img src="$!{env.imgUrl}/image/weixin/icon_nav_toast.png" class="icon_nav" alt=""></div>
    										<div class="item-inner">
    											<div class="item-title">管理企业号应用</div>
    											<div class="item-after"></div>
    										</div>
                                        </a>
									</li>
									<li>
										<a href="$!{env.appUrl}/weixin/index.framework7.htm?title=message" class="item-link item-content">
    										<div class="item-media"><img src="$!{env.imgUrl}/image/weixin/icon_nav_dialog.png" class="icon_nav" alt=""></div>
    										<div class="item-inner">
    											<div class="item-title">发送消息</div>
    											<div class="item-after"></div>
    										</div>
                                        </a>
									</li>
									<li>
										<a href="$!{env.appUrl}/weixin/index.framework7.htm?title=menu" class="item-link item-content">
    										<div class="item-media"><img src="$!{env.imgUrl}/image/weixin/icon_nav_actionSheet.png" class="icon_nav" alt=""></div>
    										<div class="item-inner">
    											<div class="item-title">自定义菜单</div>
    											<div class="item-after"></div>
    										</div>
                                        </a>
									</li>
									<li>
										<a href="$!{env.appUrl}/weixin/index.framework7.htm?title=auth" class="item-link item-content">
    										<div class="item-media"><img src="$!{env.imgUrl}/image/weixin/icon_nav_button.png" class="icon_nav" alt=""></div>
    										<div class="item-inner">
    											<div class="item-title">身份验证接口</div>
    											<div class="item-after"></div>
    										</div>
                                        </a>
									</li>
								</ul>
								<div class="list-block-label"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		#JSM(["framework7", "weixin"])
		#JS_ENV_VAL()
		<!--
		<script src="$!{env.imgUrl}/js/weixin.framework7/index.js"></script>
		
		<script src="$!{env.imgUrl}/js/weixin.framework7/department.create.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/department.list.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/department.detail.js"></script>
		
		<script src="$!{env.imgUrl}/js/weixin.framework7/user.create.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/user.simple.list.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/user.list.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/user.detail.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/user.invite.js"></script>
		
		<script src="$!{env.imgUrl}/js/weixin.framework7/message.text.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/message.image.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/message.voice.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/message.video.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/message.file.js"></script>
		
		<script src="$!{env.imgUrl}/js/weixin.framework7/auth.convert.js"></script>
		
		<script src="$!{env.imgUrl}/js/weixin.framework7/tag.create.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/tag.list.js"></script>
		<script src="$!{env.imgUrl}/js/weixin.framework7/tag.detail.js"></script>
		-->
		
		<script src="$!{env.imgUrl}/js/weixin.framework7/weixin.framework7.js?t=20160202"></script>		
	</body>
</html>  