<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">管理标签</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="tag" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block">
				<ul>
					<li>
						<a href="$!{env.appUrl}/weixin/tag.framework7.htm?op=create" class="item-link item-content">
							<div class="item-inner">
								<div class="item-title">创建标签</div>
								<div class="item-after"></div>
							</div>
                        </a>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">更新标签名字</div>
							<div class="item-after"></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">删除标签</div>
							<div class="item-after"></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">获取标签成员</div>
							<div class="item-after"></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">增加标签成员</div>
							<div class="item-after"></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">删除标签成员</div>
							<div class="item-after"></div>
						</div>
					</li>
					<li>
						<a href="$!{env.appUrl}/weixin/tag.framework7.htm?op=list" class="item-link item-content" data-ignore-cache="true">
							<div class="item-inner">
								<div class="item-title">获取标签列表</div>
								<div class="item-after"></div>
							</div>
                        </a>
					</li>
				</ul>
				<div class="list-block-label"></div>
			</div>
		</div>
	</div>
</div>