<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">成员</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="user.detail" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="content-block-title">更新成员</div>
			<form id="user/detail/update" action="$!{env.appUrl}/weixin/user.framework7.htm" method="POST" class="list-block ajax-submit">
				<input type="hidden" name="op" value="user/update"/>
				<input type="hidden" name="user.userId" value="$!{userId}"/>
				<ul>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="icon icon-form-name"></i></div>
							<div class="item-inner">
								<div class="item-title label">名称</div>
								<div class="item-input">
									<input type="text" name="user.name" value="$!{name}" placeholder="请输入成员名称" />
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="content-block">
    				<a href="javascript:user_detail_update();" class="button button-big">更新</a>
    			</div>
			</form>
			
			<div class="content-block-title">删除成员</div>
			<form id="user/detail/delete" action="$!{env.appUrl}/weixin/user.framework7.htm" method="POST" class="list-block ajax-submit">
				<input type="hidden" name="op" value="user/delete"/>
				<input type="hidden" name="userId" value="$!{userId}"/>
				<ul>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="icon icon-form-name"></i></div>
							<div class="item-inner">
								<div class="item-title label">成员</div>
								<div class="item-input">
									$!{name}
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="content-block">
					<a href="javascript:user_detail_delete();" class="button button-big">删除</a>
    			</div>
			</form>
        </div>
    </div>
</div>