<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="weixinAction" class="com.wideka.club.weixin.action.WeixinAction" parent="baseAction" scope="request">
		<property name="receiveService" ref="receiveService" />
		<property name="authorizeService" ref="authorizeService" />
	</bean>
	
	<bean id="receiveService" class="com.wideka.club.weixin.service.impl.ReceiveServiceImpl">
		<property name="callbackService" ref="callbackService" />
		<property name="msgTextService" ref="msgTextService" />
		<property name="msgImageService" ref="msgImageService" />
		<property name="msgVoiceService" ref="msgVoiceService" />
		<property name="msgVideoService" ref="msgVideoService" />
		<property name="msgLocationService" ref="msgLocationService" />
		<property name="eventSubscribeService" ref="eventSubscribeService" />
		<property name="eventLocationService" ref="eventLocationService" />
		<property name="eventClickService" ref="eventClickService" />
		<property name="eventViewService" ref="eventViewService" />
		<property name="eventScanCodeService" ref="eventScanCodeService" />
		<property name="eventPicService" ref="eventPicService" />
		<property name="eventLocationSelectService" ref="eventLocationSelectService" />
		<property name="eventEnterAgentService" ref="eventEnterAgentService" />
		<property name="eventBatchJobService" ref="eventBatchJobService" />
		<property name="tokenService" ref="tokenService" />
		<property name="token">
			<value>${weixin.token}</value>
		</property>
		<property name="encodingAesKey">
			<value>${weixin.encodingAesKey}</value>
		</property>
		<property name="corpId">
			<value>${weixin.corp.id}</value>
		</property>
		<property name="corpSecret">
			<value>${weixin.corp.secret}</value>
		</property>
	</bean>
	
	<bean id="tokenService" class="com.wideka.club.weixin.service.impl.TokenServiceImpl">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="accessTokenService" ref="accessTokenService" />
	</bean>
	
	<bean id="ticketService" class="com.wideka.club.weixin.service.impl.TicketServiceImpl">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="tokenService" ref="tokenService" />
		<property name="jsapiTicketService" ref="jsapiTicketService" />
	</bean>
	
	<bean id="authorizeService" class="com.wideka.club.weixin.service.impl.AuthorizeServiceImpl">
		<property name="tokenService" ref="tokenService" />
		<property name="userService" ref="userService" />
		<property name="corpId">
			<value>${weixin.corp.id}</value>
		</property>
		<property name="corpSecret">
			<value>${weixin.corp.secret}</value>
		</property>
	</bean>
	
	<!-- demo -->
	<bean id="weixinService" class="com.wideka.club.weixin.service.impl.WeixinServiceImpl">
		<property name="tokenService" ref="tokenService" />
		<property name="ticketService" ref="ticketService" />
		<property name="departmentService" ref="departmentService" />
		<property name="userService" ref="userService" />
		<property name="tagService" ref="tagService" />
		<property name="materialService" ref="materialService" />
		<property name="agentService" ref="agentService" />
		<property name="messageService" ref="messageService" />
		<property name="menuService" ref="menuService" />
		<property name="appId">
			<value>${weixin.app.id}</value>
		</property>
		<property name="appSecret">
			<value>${weixin.app.secret}</value>
		</property>
		<property name="corpId">
			<value>${weixin.corp.id}</value>
		</property>
		<property name="corpSecret">
			<value>${weixin.corp.secret}</value>
		</property>
	</bean>
	
	<bean id="departmentAction" class="com.wideka.club.weixin.action.DepartmentAction" parent="baseAction" scope="request">
		<property name="weixinService" ref="weixinService" />
	</bean>
	<bean id="userAction" class="com.wideka.club.weixin.action.UserAction" parent="baseAction" scope="request">
		<property name="weixinService" ref="weixinService" />
	</bean>
	<bean id="tagAction" class="com.wideka.club.weixin.action.TagAction" parent="baseAction" scope="request">
		<property name="weixinService" ref="weixinService" />
	</bean>
	<bean id="mediaAction" class="com.wideka.club.weixin.action.MediaAction" parent="baseAction" scope="request">
		<property name="weixinService" ref="weixinService" />
	</bean>
	<bean id="agentAction" class="com.wideka.club.weixin.action.AgentAction" parent="baseAction" scope="request">
		<property name="weixinService" ref="weixinService" />
	</bean>
	<bean id="messageAction" class="com.wideka.club.weixin.action.MessageAction" parent="baseAction" scope="request">
		<property name="weixinService" ref="weixinService" />
	</bean>
	<bean id="menuAction" class="com.wideka.club.weixin.action.MenuAction" parent="baseAction" scope="request">
		<property name="weixinService" ref="weixinService" />
	</bean>
	<bean id="authAction" class="com.wideka.club.weixin.action.AuthAction" parent="baseAction" scope="request">
		<property name="weixinService" ref="weixinService" />
	</bean>
	
	
	
	<!-- weixin -->
	<bean id="accessTokenService" class="com.wideka.weixin.auth.service.impl.AccessTokenServiceImpl"></bean>
	<bean id="agentService" class="com.wideka.weixin.agent.service.impl.AgentServiceImpl"></bean>
	<bean id="callbackService" class="com.wideka.weixin.callback.service.impl.CallbackServiceImpl"></bean>
	<bean id="departmentService" class="com.wideka.weixin.department.service.impl.DepartmentServiceImpl"></bean>
	<bean id="jsapiTicketService" class="com.wideka.weixin.auth.service.impl.JSAPITicketServiceImpl"></bean>
	<bean id="materialService" class="com.wideka.weixin.material.service.impl.MaterialServiceImpl"></bean>
	<bean id="menuService" class="com.wideka.weixin.menu.service.impl.MenuServiceImpl"></bean>
	<bean id="messageService" class="com.wideka.weixin.message.service.impl.MessageServiceImpl"></bean>
	<bean id="oauth2Service" class="com.wideka.weixin.auth.service.impl.OAuth2ServiceImpl"></bean>
	<bean id="refundService" class="com.wideka.weixin.pay.service.impl.RefundServiceImpl"></bean>
	<bean id="tagService" class="com.wideka.weixin.tag.service.impl.TagServiceImpl"></bean>
	<bean id="unifiedOrderService" class="com.wideka.weixin.pay.service.impl.UnifiedOrderServiceImpl"></bean>
	<bean id="userService" class="com.wideka.weixin.user.service.impl.UserServiceImpl"></bean>
	
</beans>