<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="wxpayService" class="com.wideka.club.wxpay.service.impl.WxpayServiceImpl">
		<property name="unifiedOrderService" ref="unifiedOrderService" />
		<property name="wxpayDao" ref="wxpayDao" />
		<property name="appId">
			<value>${wxpay.app.id}</value>
		</property>
		<property name="appSecret">
			<value>${wxpay.app.secret}</value>
		</property>
		<property name="mchId">
			<value>${wxpay.mch.id}</value>
		</property>
		<property name="notifyUrl">
			<value>${wxpay.notify.url}</value>
		</property>
		<property name="key">
			<value>${wxpay.key}</value>
		</property>
	</bean>
	
	<bean id="wxpayDao" class="com.wideka.club.wxpay.dao.impl.WxpayDaoImpl" parent="baseDao" />
	
</beans>